@using CourseProjectSculptureWorks.Models.Entities
@using CourseProjectSculptureWorks.Data
@model List<Excursion>

@inject ApplicationDbContext db

@{
    ViewData["Title"] = "Экскурсии";
}

<link rel="stylesheet" href="~/css/tableStyles.css" />
<link rel="stylesheet" href="~/css/excursions.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/excursions.js"></script>

<div class="column features">
    <form method="get" class="form-horizontal">

    </form>
</div>
<div class="column">
    <a asp-action="AddNewExcursion" class="addBtn"><span class="glyphicon glyphicon-plus"></span>  Добавить экскурсию</a>
    <a asp-action="AddNewExcursions" class="addBtn"><span class="glyphicon glyphicon-plus"></span>  Добавить экскурсии</a>
    <div class="locationContainer">
        @if (Model != null && Model.Count != 0)
        {
            <table class="simple-little-table" cellspacing='0' id="styleTable">
                <tr style="background-color:aqua;">
                    <th><b>Номер экскурсии</b></th>
                    <th><b>Тематика</b></th>
                    <th><b>Дата экскурсии</b></th>
                    <th><b>Вид экскурсии</b></th>
                    <th><b>Местоположения</b></th>
                    <th><b>Количество человек</b></th>
                    <th><b>Цена экскурсии</b></th>
                    <th style="width:50px;"></th>
                    <th style="width:50px;"></th>
                </tr>
                @foreach (var excursion in Model)
                {
                    var locations = new List<Location>();
                    foreach (var composition in excursion.Compositions)
                    {
                        locations.Add(db.Locations.Single(l => l.LocationId == composition.LocationId));
                    }
                    <tr id="@excursion.ExcursionId">
                        <td>@excursion.ExcursionId</td>
                        <td>@excursion.Subjects</td>
                        <td>@excursion.DateOfExcursion.Date.Day.@excursion.DateOfExcursion.Date.Month.@excursion.DateOfExcursion.Date.Year</td>
                        <td>@excursion.ExcursionType.NameOfType</td>
                        <td>
                            @foreach(var location in locations)
                            {
                                <p>@location.LocationName</p>
                            }
                        </td>
                        <td>@excursion.NumberOfPeople чел.</td>
                        <td>@excursion.PriceOfExcursion UAN</td>
                        <td>
                            @if (locations.Count == 1)
                            {
                                <a style="color:cornflowerblue;" title="Редактировать" asp-route-excursionId="@excursion.ExcursionId" asp-action="EditExcursion">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            }
                            else
                            {
                                <a style="color:cornflowerblue;" multi="false" title="Редактировать" asp-route-excursionId="@excursion.ExcursionId" asp-action="EditExcursions">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            }
                        </td>
                        <td>
                            <a style="color:crimson;" multi="true" class="del" excursionId="@excursion.ExcursionId" title="Удалить">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <h3 style="margin-left:20px;">В базе данных отсутствует искомая информация о экскурсиях...</h3>
        }
    </div>
</div>



