@using CourseProjectSculptureWorks.Models.Entities
@using CourseProjectSculptureWorks.Data
@model List<Excursion>

@inject ApplicationDbContext db

@{
    ViewData["Title"] = "Экскурсии";
}

<link rel="stylesheet" href="~/css/tableStyles.css" />
<link rel="stylesheet" href="~/css/excursions.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="column features">
    <form method="get" class="form-horizontal">

    </form>
</div>
<div class="column">
    <a asp-action="AddNewExcursion" class="addBtn"><span class="glyphicon glyphicon-plus"></span>  Добавить местоположение</a>
    <div class="locationContainer">
        @if (Model != null && Model.Count != 0)
        {
            <table class="simple-little-table" cellspacing='0' id="styleTable">
                <tr style="background-color:aqua;">
                    <th><b>Тематика</b></th>
                    <th><b>Вид экскурсии</b></th>
                    <th><b>Местоположения</b></th>
                    <th><b>Количество человек</b></th>
                    <th><b>Цена экскурсии</b></th>
                    <th style="width:50px;"></th>
                    <th style="width:50px;"></th>
                </tr>
                @foreach (var excursion in Model)
                {
                    var locations = new List<Location>();
                    foreach (var composition in excursion.Compositions)
                    {
                        locations.Add(db.Locations.Single(l => l.LocationId == composition.LocationId));
                    }
                    <tr id="">
                        <td>@excursion.Subjects</td>
                        <td>@excursion.ExcursionType.NameOfType</td>
                        <td>
                            @foreach(var location in locations)
                            {
                                <p>@location.LocationName</p>
                            }
                        </td>
                        <td>@excursion.NumberOfPeople</td>
                        <td>@excursion.PriceOfExcursion</td>
                        <td><a style="color:cornflowerblue;" title="Редактировать" asp-action="EditLocation"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td><a style="color:crimson;" class="del" title="Удалить"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                }
            </table>
        }
        else
        {
            <h3 style="margin-left:20px;">В базе данных отсутствует искомая информация о экскурсиях...</h3>
        }
    </div>
</div>



