@using CourseProjectSculptureWorks.Models.Entities
@model List<Sculptor>

@{
    ViewData["Title"] = "Скульпторы";
}

<link rel="stylesheet" href="~/css/sculptors.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/sculptors.js"></script>

<div class="column features">
    <form method="get" class="form-horizontal">
        <select class="form-control searchSelect" name="searchCriteria">
            <option value="0" disabled selected>Критерий поиска</option>
            <option value="1">Имя</option>
            <option value="2">Страна</option>
            <option value="3">Год рождения</option>
            <option value="4">Год смерти</option>
        </select>
        <br />
        <input class="form-control" name="searchString" type="text" placeholder="Имя, страна, годы жизни..." value="@ViewBag.SearchString" disabled />
        <input style="width:100%; margin-top:5px;" type="submit" value="Поиск" class="btn btn-info" />
        <div><br />
            <h4>
                Сортировать
            </h4>
            <div class="radio">
                <label><input type="radio" name="sortNum" value="0" checked>В исходном порядке</label>
            </div>           
            <div class="radio">
                <label><input type="radio" name="sortNum" value="1">По стране</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="sortNum" value="2">По году рождения</label>
            </div>
            <input style="width:100%; margin-top:5px;" type="submit" value="Сортировать" class="btn btn-primary" />
        </div>
    </form>
</div>
<div class="column">
    <a asp-action="AddNewSculptor" class="btn btn-success addBtn"><span class="glyphicon glyphicon-plus"></span>  Добавить скульптора</a>
    <div class="sculptorContainer">
        @if (Model != null && Model.Count != 0)
        {
            <table id="sculptorTable">
                <tr style="background-color:aqua;">
                    <td><b>Имя</b></td>
                    <td><b>Страна</b></td>
                    <td><b>Год рождения</b></td>
                    <td><b>Год смерти</b></td>
                    <td></td>
                    <td></td>
                </tr>
                @foreach (var sculptor in Model)
                {
                    <tr id="@sculptor.SculptorId">
                        <td>@sculptor.Name</td>
                        <td>@sculptor.Country</td>
                        <td>@sculptor.YearOfBirth год</td>
                        <td>@sculptor.YearOfDeath год</td>
                        <td><a class="btn btn-info" title="Редактировать" asp-action="EditSculptor" asp-route-sculptorId="@sculptor.SculptorId"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td><a class="btn btn-danger del" sculptorId="@sculptor.SculptorId" title="Удалить"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                }
            </table>
        }
        else
        {
            <h3>В базе данных отсутствует искомая информация о скульпторах...</h3>
        }
    </div>
</div>

@if (ViewBag.Checked != 0)
{
    <script>
        var checkedNum = @ViewBag.Checked;
        $("input[value=" + checkedNum + "]").attr("checked", true);
    </script>
}

@if (ViewBag.SearchedCriteria != 0)
{
    <script>
        var searchedCriteria = "@ViewBag.SearchCriteria";
        $("option[value=" + searchedCriteria +"]").attr("selected", true);
        if(searchedCriteria != "0")
        {
            $("input[name=searchString]").removeAttr("disabled");
        }
    </script>
}

